
@{
    ViewBag.Title = "ChinhSachBaoHanh";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<style>
    #title {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 30px;
        font-weight: bold;
    }
</style>
<div class="container">
    <div class="row">
        <div class="csbh" style="margin-top:100px;">
            <div id="title"> CHÍNH SÁCH BẢO HÀNH DNK</div>
            <br data-aura-rendered-by="33:384;a"><span style="font-size: 14px;" data-aura-rendered-by="33:384;a">
                <span style="font-family: Arial,Helvetica,sans-serif;">
                    <span style="line-height: normal;"><b><span style="color: #e74c3c;">1. ĐIỀU KIỆN BẢO HÀNH:</span></b></span><br><br><span style="line-height: normal;">
                        <b>Sản phẩm được bảo hành miễn phí nếu sản phẩm đó hội đủ các điều kiện sau:</b>
                    </span>
                </span>
            </span>

            <ul>
                <li>
                    Sản phẩm bị lỗi kỹ thuật do nhà sản xuất.
                </li>
                <li>
                    Còn trong thời hạn bảo hành(trên phiếu bảo hành hoặc trên hệ thống bảo hành điện tử)
                </li>
                <li>
                    Có hóa đơn điện tử (khi Người mua có yêu cầu) hoặc mã đơn hàng (ID đơn hàng)
                </li>
                <li>
                    Đối với các sản phẩm điện gia dụng, phiếu / tem bảo hành (và tem niêm phong) của nhà sản xuất (tùy từng hãng) trên sản phẩm còn nguyên vẹn.
                </li>
                <li>
                    Tất cả các trường hợp khách hàng báo lỗi với thông tin chưa rõ ràng hoặc chưa chắc chắn đều phải chuyển cho Trung Tâm Bảo Hành thẩm định trước khi ra quyết định bảo hành hoặc trả hàng.
                </li>
            </ul>
            <span style="font-size: 14px;" data-aura-rendered-by="33:384;a"><span style="font-family: Arial,Helvetica,sans-serif;"> <span style="line-height: normal;"><b>Những trường hợp không được bảo hành hoặc phát sinh phí bảo hành:</b></span></span></span>

            <ul>
                <li>
                    Vi phạm một trong những điều kiện bảo hành miễn phí ở mục A.
                </li>
                <li>
                    Số series, model sản phẩm không hợp lệ (không khớp với thông tin trên Phiếu bảo hành hoặc trên hệ thống bảo hành điện tử.)
                </li>
                <li>
                    Khách hàng tự ý can thiệp sửa chữa sản phẩm hoặc sửa chữa tại những trung tâm bảo hành không được sự ủy nhiệm của Hãng.
                </li> 
                <li>
                    Sản phẩm bị hư hỏng do lỗi người sử dụng, và lỗi hư không nằm trong phạm vi bảo hành của nhà sản xuất.
                </li>
            </ul>

            <div style="margin-top:20px;margin-bottom:10px;">
                <p style="line-height: 1.38;margin:0" data-aura-rendered-by="33:384;a"><span style="font-size: 14px;"><span style="font-family: Arial,Helvetica,sans-serif;"><span style="color: #ee4d2d;"><span style="font-variant: normal;white-space: pre-wrap;"><span style="font-weight: 700;"><span style="font-style: normal;"><span style="text-decoration: none;">2. THỜI HẠN BẢO HÀNH:</span></span></span></span></span></span></span><br>&nbsp;</p>

                <p style="line-height: 1.38;" data-aura-rendered-by="33:384;a"><span style="font-size: 14px;"><span style="font-family: Arial,Helvetica,sans-serif;"><span style="font-variant: normal;white-space: pre-wrap;"><span style="color: #000000;"><span style="font-weight: 400;"><span style="font-style: normal;"><span style="text-decoration: none;">Thời hạn bảo hành được tính kể từ ngày mua hàng hoặc ngày nhận được sản phẩm, tùy theo từng sản phẩm của từng nhà sản xuất khác nhau.</span></span></span></span></span></span></span></p>

                <p style="line-height: 1.38;" data-aura-rendered-by="33:384;a"><span style="font-size: 14px;"><span style="font-family: Arial,Helvetica,sans-serif;"><span style="font-variant: normal;white-space: pre-wrap;"><span style="color: #000000;"><span style="font-weight: 400;"><span style="font-style: normal;"><span style="text-decoration: none;">Đối với sản phẩm bảo hành điện tử, thời hạn bảo hành được tính từ thời điểm kích hoạt bảo hành điện tử</span></span></span></span></span></span></span></p>

                <p style="line-height: 1.38;" data-aura-rendered-by="33:384;a"><span style="font-size: 14px;"><span style="font-family: Arial,Helvetica,sans-serif;"><span style="font-variant: normal;white-space: pre-wrap;"><span style="color: #000000;"><span style="font-weight: 400;"><span style="font-style: normal;"><span style="text-decoration: none;">Lưu ý: Người Mua có thể gửi yêu cầu hóa đơn VAT tới bộ phận Chăm sóc khách hàng Shopee để được hỗ trợ&nbsp;</span></span></span></span></span></span></span></p>
                &nbsp;

                <p style="line-height: 1.38;margin:0;" data-aura-rendered-by="33:384;a"><span style="font-size: 14px;"><span style="font-family: Arial,Helvetica,sans-serif;"><span style="color: #ee4d2d;"><span style="font-variant: normal;white-space: pre-wrap;"><span style="font-weight: 700;"><span style="font-style: normal;"><span style="text-decoration: none;">3. TRUNG TÂM BẢO HÀNH:</span></span></span></span></span></span></span><br>&nbsp;</p>

                <p style="line-height: 1.38;" data-aura-rendered-by="33:384;a"><span style="font-size: 14px;"><span style="font-family: Arial,Helvetica,sans-serif;"><span style="font-variant: normal;white-space: pre-wrap;"><span style="color: #000000;"><span style="font-weight: 400;"><span style="font-style: normal;"><span style="text-decoration: none;">Thông tin của trung tâm bảo hành sẽ được ghi trong phiếu bảo hành kèm theo sản phẩm hoặc trên phần mô tả thông tin chi tiết của sản phẩm. Quý khách vui lòng liên hệ trực tiếp với trung tâm bảo hành để được hỗ trợ trong thời gian ngắn nhất.</span></span></span></span></span></span></span></p>

                <p style="line-height: 1.38;" data-aura-rendered-by="33:384;a"><span style="font-size: 14px;"><span style="font-family: Arial,Helvetica,sans-serif;"><span style="font-variant: normal;white-space: pre-wrap;"><span style="color: #000000;"><span style="font-weight: 400;"><span style="font-style: normal;"><span style="text-decoration: none;">Trong trường hợp quý khách gặp khó khăn trong việc liên hệ trung tâm bảo hành, ở quá xa trung tâm bảo hành hoặc gặp các vấn đề bất tiện không thể đến trung tâm bảo hành trực tiếp, quý khách có thể liên hệ bộ phận Chăm sóc khách hàng Shopee để được hỗ trợ:</span></span></span></span></span></span></span></p>

                <p>1. Hotline: 028 5445 2222</p>

                <p>2. Email: vodangkhanh1611@gmail.com </p>
                <p style="line-height: 1.38;" data-aura-rendered-by="33:384;a">
            </div>
                <br><br><span style="line-height: normal;"><b><span style="color: #e74c3c;">4.THỜI GIAN BẢO HÀNH:</span></b></span><br><br><span style="line-height: normal;">
                    <b>a. Bảo hành tại nhà sản xuất</b>
                </span>
                <br><span style="line-height: normal;">Sản phẩm cung cấp được đảm bảo hàng chính hãng nên DNK khuyến khích quý khách gửi sản phẩm trực tiếp đến địa chỉ bảo hành được đề cập trong phần mô tả chi tiết của sản phẩm để được hỗ trợ bảo hành trong thời gian nhanh nhất.</span>
                <br><span style="line-height: normal;">Thời gian bảo hành trung bình từ vài ngày tùy thuộc vào linh kiện cần thay thế và Trung tâm bảo hành sẽ thông báo cụ thể đến quý khách.</span>
            </p>

            <p data-aura-rendered-by="33:384;a">
                <br><span style="font-size: 14px;">
                    <span style="font-family: Arial,Helvetica,sans-serif;">
                        <span style="line-height: normal;">
                            <b>b. Bảo hành thông qua DNK</b>
                        </span>
                        <br><span style="line-height: normal;">
                            Trường hợp quý khách gửi sản phẩm bảo hành về DNK, chúng tôi sẽ gửi thông báo xác nhận đến quý khách khi DNK nhận được sản phẩm.
                            <br><br>Thời gian bảo hành sản phẩm của quý khách dự kiến từ 20 ngày đến 45 ngày làm việc tính từ lúc DNK nhận được sản phẩm, tùy thuộc vào linh kiện cần thay thế của Hãng và DNK sẽ thông báo chi tiết đến quý khách sau khi có thông tin từ bên bảo hành
                        </span>
                    </span>
                </span><br>
            </p>
        </div>
    </div>
</div>